# API
VITE_API_URL=https://api.sarp.es

# CDN
VITE_CDN_URL=https://sarp-public.b-cdn.net

# Game server
VITE_GAME_SERVER_IP=135.148.128.72
VITE_GAME_SERVER_PORT=7777
VITE_GAME_SERVER_LOCATION=Miami

# Subcarpeta dentro de Documents/GTA San Andreas User Files/SAMP/cache/
# que se considera "el cache del servidor". Tipicamente: <ip>.<puerto>.
VITE_GAME_CACHE_FOLDER=135.148.128.72.7777

# Solo en dev: ruta donde el launcher simula estar instalado.
# En producción, el launcher usa su propia ruta de instalación.
DEV_GTA_PATH=C:\Program Files (x86)\Rockstar Games\GTA San Andreas
