@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

a,
button,
input,
textarea,
select,
[contenteditable="true"] {
  -webkit-user-drag: none;
}

input,
textarea,
[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
}
